:host {
  --standard-padding: 1rem;
  --spinner-color: grey;
  --reduced-red: #e84747;
  --normal-price-green: #00aa7a;

  --pill-accent: var(--bright-blue);

  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} /** <-host end **/

/** Default: Tablet **/
main {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-between;
}
header {
  margin: 0;
  padding: var(--standard-padding);
  border-bottom: solid 1px lightgrey;
  max-height: 4rem;
}
img.logo {
  height: 2.5rem;
}

/** Desktop **/
@media (min-width: 581px) {
  .container {
    margin: 1vw 12vw;
  }
  main {
  }
  .pcard:host {
    width: 32%;
    height: 35rem;
  }
}
