:host {
  /** border: solid 1px lightgrey; **/
  margin: 0 auto 1rem 1rem;
  padding: 0;
  width: 30%;
  @media screen and (max-width: 1100px){
    width: 45%;
  };
}
.pcard {
  margin: 0 0 auto auto;
  padding: 0;
  height: 27rem;
}
div.percentpill {
  padding: 0.5rem;
  margin: 1rem auto auto 1rem;
  float: left;
  background-color: var(--reduced-red);
  color: white;
  border-radius: 1rem;
}

img.heart {
  width: 5%;
  float: right;
  margin: 1rem 1rem auto auto;
}

div.product-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 27rem;
}
.product-textarea {
  float: left;
  padding: 1rem;
  position: relative;
  max-width: 100%;
}

.product-textarea p {
  float:left;
  margin: 0;
  padding: 0.5rem 0;
  font-size: 1rem;
  white-space: nowrap;
}
.product-price {
  font-weight: bold;
  color: var(--normal-price-green);
}
.product-old-price {
  padding-left: 0.5rem;
  color: grey;
  text-decoration: line-through;
}
.product-brand, .product-name, .product-description {
  float: left;
  width: 93%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-brand {
  font-weight: bold;
}
.product-name {

}
.product-description {
}
.product-colors {
  float: left;
  width: 100%;
}
.product-colors,  .product-colors span {
  font-size: 2rem;
  padding: 0;
  margin: 0;
  line-height: 2rem;
  letter-spacing: -4px;
  cursor: pointer;
}
.product-color-beige { color: #e1c699; }
.product-color-blue { color: #2540af; }
.product-color-fuchsia { color: #de1c79; }
.product-color-green { color: #56a53a; }
.product-color-purple { color: #7a2c96; }
.product-color-red { color: #dc0d00; }
.product-color-black { color: #000; }
.product-color-grey { color: grey; }
.product-color-pink { color: deeppink; }
.product-color-olive { color: darkolivegreen; }
.product-color-white { color: #fff; text-shadow: 0 0 2px black; }
