<div class="pcard">
  <div
    class="product-image"
    [ngStyle]="{'background-image': 'url(' + pImage + ')'}"
  >
    <div class="percentpill" *ngIf="pPercent">{{ pPercent }}</div>
    <img src="assets/heart.svg" class="heart" />
  </div>
  <div class="product-textarea">
    <span class="product-price">{{ pPrice }}</span>
    <span class="product-old-price">{{ oldPrice }}</span>
    <p class="product-brand">{{ brand }}</p>
    <p class="product-name">{{ pName }}</p>
    <p class="product-description">{{ pDescription }}</p>
  </div>
</div>
